:host {
  display: block;
}

.explore-page {
  min-height: calc(100vh - 64px);
  animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
