footer {
  margin-top: auto;
}

a {
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #a855f7;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}
