/* Gallery Card */
.gallery-card {
  position: relative;
}

.card-image {
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.card-image:hover {
  border-color: rgba(23, 255, 220, 0.3);
}
